ul{
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    word-spacing: 1px;
    padding-bottom: 15px;
    position: fixed;
    overflow: hidden;
    background-color: rgb(5, 0, 0);
    top: 0;
    left: 0;
    width: 100%;
}

li{
    float:left;
    border-right: 1px solid ;
    color:  rgb(249, 249, 249);
    padding: 5px;
}

li:last-child{
    border-right: none;
}

li a{
    color: white;
    display: block;
    padding: 14px 16 px;
    text-decoration:none;
    text-align: center;
}